@media screen and (min-width: 400px){

.menu{
	width: 100%;
	display: inline-block;
	text-decoration: none;

}


.menu li.close{
	display: none;
}


.handle{
	display: none;
}


.menu li{
	display: inline-block;	
	text-align: center;
	
}

	
}


@media screen and (min-width: 375px){


}


@media screen and (max-width: 1000px){


}