
@media(max-width: 568px){
	/*removes slide amintation for mobile perofrmance*/
	.pimg1, .pimg2, .pimg3{
		background-attachment: scroll;
	}
	/*removes nav buttons*/
	.main-nav .nav-bar{
		display: none;
	}

	/*Pricing Table Size change*/
	#price-table .column{
		width: 100%;
	}

 	/*Slideshow text size*/
	.slide-content span{
		font-size: 3rem;
	}
}


@media(max-width: 700px){
	/*slider text resizing*/
	.slide-content span{
		font-size: 4rem;
	}	
}

@media(max-width: 730px){
	/*removes logo*/
	.main-nav h1{
	display: none;
}	
}


@media(max-width: 567px){
	/*bring logo back in mobile view*/
	.main-nav h1{
	display: block;
	}
}


@media(min-width: 568px) {
	/*side menu icon to not show*/
	.handle{
		display: none;
	}

	
}

