@media(max-width: 568px){
	.pimg1, .pimg2, .pimg3{
		background-attachment: scroll;
	}

	.main-nav .nav-bar{
		display: none;
	}


	.colunm{
		max-width: 100%;
	}
}

@media(min-width: 568px) {
	.handle{
		display: none;
	}
	
}

